body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  input, select {
    margin: 10px;
    padding: 8px;
  }
  
  #trekking-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .trekking-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
  }
  
  .trekking-card:hover {
    background-color: #f0f0f0;
  }
  
  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
/* Nasconde il contenuto finché non è caricato */
#content {
    display: none;
}


.carousel-inner {
  display: flex;
  align-items: center;
  background-color: #000; /* Sfondo nero per riempire gli spazi vuoti */
  max-height: 600px; /* Altezza massima del carosello */
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Mantiene le proporzioni senza tagliare le immagini */
  transition: transform 0.5s ease;
}

.stars {
  font-size: 30px;
}
.star {
  color: gold;
}
.star-empty {
  color: lightgray;
}
.star-half {
  background: linear-gradient(to right, gold 50%, lightgray 50%);
  -webkit-background-clip: text;
  color: transparent;
}
